/Supper_Market_Management_System_Server24261/nbproject/private/
/Supper_Market_Management_System_Client24261/nbproject/private/
/Supper_Market_Management_System_Client24261/build/
/Supper_Market_Management_System_Server24261/build/
/Supper_Market_Management_System_Server24261/dist/